@{
    ViewData["Title"] = "Tải lên tệp";
}

<h2>Tải lên tệp</h2>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success">@TempData["ErrorMessage"]</div>
}

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Chọn tệp:</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Tải lên</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger">
        @Html.ValidationSummary()
    </div>
}
