@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <video controls autoplay muted width="640" height="360">
        <source src="/uploads/Recording 2025-02-12 193630.mp4" type="video/mp4" />
        Trình duyệt không hỗ trợ video.
    </video>
</div>
