
.active-flame {
    position: relative;
    background-color: #ffe9e9 !important;
    font-weight: bold;
    color: #dc3545 !important;
    animation: flame-flicker 1.5s infinite alternate;
    border-left: 4px solid #ff4500;
}

@keyframes flame-flicker {
    0% {
        box-shadow: 0 0 5px rgba(255, 85, 0, 0.5);
    }

    50% {
        box-shadow: 0 0 15px rgba(255, 85, 0, 0.8);
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 85, 0, 0.5);
    }
}

